<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, index) in ingredients">{{index}}. {{ingredient}}</li>
    </ul>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ingredient}}</h1>
        <p>{{index}}</p>
    </template>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="../js/app.js"></script>
</body>
</html>