<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app">
    <p v-if="show">You can see me!</p>
    <p v-else>Now you can see me!!!</p>
    <template v-if="show">
        <h1>Header</h1>
        <p>Inside the template</p>
    </template>
    <p v-show="show">Do you also see me?</p>
    <button @click="show = !show">Click</button>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="../js/app.js"></script>
</body>
</html>