<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="demo" :style="myStyle"></div>
    <div class="demo"></div>
    <div class="demo"></div>
    <hr>
    <input type="text" v-model="color">
    <input type="number" v-model="width">
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="../js/app.js"></script>
</body>
</html>